@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}

:root {
    --main: #CCADAD;
    --main-hover: #E7CECE;

}

html {
    font-size: 62.5%;
}

.heading {
    font-family: 'Kumbh Sans', sans-serif;
    color: #2E2E2E;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    position: absolute;
    width: 1300px;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 100;
}

nav .logo {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav.activenav {
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav ul li {
    margin: 0 1.2rem;
}

nav ul li a {
    font-size: 1.6rem;
    transition: all .3s ease;
    color: #000;
    font-weight: 600;
    padding: 1.2rem 1.4rem;
    position: relative;
}

nav ul li a:after {
    content: '';
    width: 0%;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: all .3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
}
.header h1{
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.header p{
    margin: 2rem 0;
    line-height: 3rem;
    font-size: 1.6rem;
    width: 610px;
}
.header a{
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--main);
    transition: all .3s ease;
    padding: 1.4rem 5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.header a:hover{
    background-color: var(--main-hover);
}
.header-imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
}
.header-box{
    width: 390px;
    height: 450px;
    margin: 0 1.5rem;
}
.header-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-box:nth-child(2){
    transform: translateY(-5rem);
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    display: none;
}

.hambar{
    position: absolute;
    width: 31px;
    height: 2px;
    background-color: #000;
    transition: all .4s ease;
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
.hamburger.active .hambar:nth-child(1){
    top: initial;
    transform: rotate(45deg);
}
.hamburger.active .hambar:nth-child(2){
    opacity: 0;
}
.hamburger.active .hambar:nth-child(3){
    bottom: initial;
    transform: rotate(-45deg);
}
/* WhoWeAre */
#whoweare{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
.whoweare-left{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    text-align: left;
    margin-right: 10rem;
}
.whoweare-left h2{
    font-size: 1.9rem;
    font-weight: 400;
}
.whoweare-left h1{
    font-size: 5rem;
    margin-top: 4rem;
    font-weight:500;
}
.whoweare-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 390px;
    margin-left: 5rem;
    align-self: flex-end;
}
.whoweare-right p{
    font-size: 1.6rem;
    line-height: 2.8rem;
}
/* Our Credo */
#credo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}
.credo-text{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    margin-right: 3rem;
}
.credo-text h2{
    font-size: 1.8rem;
    font-weight: 500;
}
.credo-text h1{
    font-size: 4rem;
    font-weight: 400;
    margin-top: 3rem;
}
.credo-text p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 2rem;
}
.credo-img{
    width: 530px;
    height: 480px;
    margin-left: 3rem;
}
.credo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Feed */
#feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
}
.feed-header{
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}
.feed-header h1{
    font-size:3.5rem ;
    font-weight: 500;
    margin-bottom: 4rem;
}
.feed{
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed-box{
    width: 300px;
    margin: 1.5rem 1rem;
    position: relative;
    cursor: pointer;
}
.feed-box-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .5s ease;
    top: 0;
    left: 0;
    background-color: transparent;
}
.feed-box-inner h1{
    color: #fff;
    font-size: 3rem;
    transform: translateY(30px);
    transition: all .4s ease;
    opacity: 0;
}
.feed-box:hover .feed-box-inner h1{
    transform: translateY(0);
    opacity: 1;
}
.feed-box:hover .feed-box-inner{
    background-color: #ccadadcd;
}
.feed-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#feed a{
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    color: #fff;
    background-color: var(--main);
    transition: all .3s ease;
    margin-top: 5rem;
}
#feed a:hover{
    background-color: var(--main-hover);
}
@media screen and (max-width:1300px) {
    nav {
        width: 88%;
    }
    .header-box {
        width: 34%;
        margin: 0 1.5rem;
    }
    .feed-box {
        width: 240px;
    }
}
@media screen and (max-width:1060px){
    .credo-img {
        width: 371px;
        height: 397px;
    }
    .feed-box {
        width: 194px;
    }
}
@media screen and (max-width:980px) {
    .whoweare-left {
        margin-right: 0rem;
    }
    .whoweare-right {
        margin-left: 1rem;
    }
}
@media screen and (max-width:940px) {
    nav{
        width: 100%;
        z-index: 100;
        justify-content: flex-start;
    }
    nav ul{
        flex-direction: column;
        top: 8rem;
        position: fixed;
        width: 100vw;
        background-color: #ededed;
        z-index: 100;
        height: 0px;
        overflow: hidden;
        transition: all .4s ease;
    }
    nav.active ul{
        height: 400px;
    }
    nav ul li a{
        font-size: 2rem;
    }
    nav ul li{
        margin: 3rem 0;
    }
    .header-imgs {
        flex-wrap: wrap;
    }
    .header-box{
        margin: 1.5rem 1.5rem;
    }
    .header-box:nth-child(2) {
        transform: translateY(0);
    }
    .hamburger{
        display: inherit;
    }
    .header-box {
        width: 40%;
    }
    .credo-text { 
        width: 300px;
    }
    .feed{
        flex-wrap: wrap;
    }
    .feed-box {
        width: 310px;
    }
}
@media screen and (max-width:800px) {
    .header{
        padding: 0 2rem;
    }
    .header p {
        width: auto;
    }
    #whoweare{
        flex-direction: column;
    }
    .whoweare-left {
        width: 420px;
    }
    .whoweare-left h1 {
        font-size: 3rem;
        margin-top: 2rem;
        line-height:5rem;
    }
    .whoweare-right {
        width: 420px;
        align-self: center;
        margin-top: 3rem;
        margin-left: 0;
    }
    #credo{
        flex-direction: column;
    }
    .credo-text {
        width: 500px;
    }
    .credo-img {
        width: 534px;
        height: 397px;
        margin-top: 5rem;
        margin-left: 0;
    }
    .credo-text h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
    
}
@media screen and (max-width:700px) {
    .feed-box {
        width: 240px;
    }
}
@media screen and (max-width:600px) {
    .header-box {
        width: 80%;
    }
    .credo-text {
        width: 80%;
    }
    .credo-img {
        width: 85%;
    }
}
@media screen and (max-width:550px) {
    .feed-box {
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .header h1 {
        font-size: 3.8rem;
    }
    .header-box {
        height: 260px;
    }
    .credo-img {
        height: 226px;
    }
    .feed-box {
        width: 85%;
    }
}
@media screen and (max-width:480px) {
    .whoweare-left {
        width:85%;
    }
    .whoweare-right {
        width:85%;
    }
}
@media screen and (max-width:330px) {
    .header h1 {
        font-size: 3.2rem;
    }
}